@import '../../../styles/variables.scss';

.input {
  display: block;
}

.label {
  margin-bottom: 5px;
  font: {
    size: 14px;
    weight: 500;
  }
}

.field {
  display: block;
  width: 100%;
  padding: 10px 15px;
  border: 1px solid transparentize($primary, 0.5);
  background-color: #fff;
  outline: 0;
  line-height: 1.33;
  word-break: keep-all;
  -webkit-appearance: none;
  transition: border-color .3s ease;
  font: {
    size: 14px;
    weight: 500;
  }
}