@import '../../../styles//variables';

.card {
  padding: 20px 0;
  &:not(:last-child) {
    border-bottom: 1px solid transparentize($primary, .9);
  }
}

.title {
  transition: opacity .3s ease;
  &Done {
    opacity: 0.5;
  }
}