@import '../../../styles/variables.scss';

.button {
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  border: none;
  text-decoration: none;
  transition: all .3s ease;
  color: #fff;
  cursor: pointer;
  outline: 0;
  text-align: center;
  background-color: $primary;
  font: {
    size: 14px;
    weight: 300;
  }
  &:hover {
    background-color: lighten($primary, 7);
    color: #fff;
  }
  &:active {
    background-color: darken($primary, 3);
    transition: none;
  }
}